.nt-main{
    background-color: #87d7cc;
    display: flex;
}
.nt-booksList{
    margin: 50px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 250px);
    
}

.nt-book-comp{
    background-color: #2acf92;
    font-size: 20px;
    padding: 0.5rem;
    word-wrap: break-word;
    border: 2px solid rgb(78, 173, 78);
    border-radius: 5px;
    display: inline-block;
    
    /* flex-direction: column;
    justify-content: space-between; */
  
}