* {
    box-sizing: border-box;
}


.todo-container{
    min-height: 100vh;

    background-color: #87d7cc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-title{
    margin-top: 10px ;
}

.todo-add{
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #49c6cf;
}

.todo-input{
    height: 25px;
    border: 2px solid rgb(40, 157, 165);
    border-radius: 5px;
}

.todo-button{
margin-left: 10px;
}

.todo-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.todo{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    gap: 10px;
    background-color: rgb(71, 201, 190);
    display: flex;
    margin: 3px;    
}

.todo-li{
    margin-left: 5px;
}

.todo-delete-button{
    cursor: pointer;
    size: 20px;
}