* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}

.nav-container {
    background: #0A4D68;
}


.navbar {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;

}


.nav-links a {
    color:#05BFDB
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding-left: 20px;
}

.menu {
    display: flex;
    gap: 2em;
    font-weight: bold;
    font-size: 0.9em;
    padding-right: 12px;
}

.Hover:hover {
  color: #B9EDDD;
}


.menu li {
    padding: 1px 3px;
}